{% extends "reviews/base.html" %}
{% block content %}
<ul class="list-group">
    {% for course in courses %}
    <li class="list-group-item mb-3">
        <div class="container-fluid">
            <h5><a href="{% url 'course-detail' course.id %}">{{ course.name }} ({{course.code}})</a></h5>
            <p>Department : {{ course.department }}</p>
            <p>Instructors :
                {% for prof in course.instructor.all %}
                <a href="{% url 'prof-detail' prof.id %}">{{prof.name}}</a>,
                {% endfor %}
            </p>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock content %}