{% extends "reviews/base.html" %}
{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-center">Rate Your Professors!</h1>
          <p class="lead text-center">A simple website where you can rate your professors and courses. Don't forget to be a little polite though</p>
          <hr class="my-4">
          <p class="text-center">What are you looking for?</p>
          <div class="text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
        </div>
    </div>
</main>
{% endblock content %}