{% extends "reviews/base.html" %}
{% block content %}
<main role="main">
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 text-center">Rate Your Professors!</h1>
          <p class="lead text-center">A simple website where you can rate your professors and courses. Don't forget to be a little polite though</p>
          <hr class="my-4">
          <p class="text-center">What are you looking for?</p>
          <div class="text-center container col-md-8">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for a Course or Professor" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                </div>
              </div>
          </div>
        </div>
    </div>
</main>
{% endblock content %}