{% extends "reviews/base.html" %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
        {% for professor in professors %}
            <h5><a href="{% url 'prof-detail' professor.id %}">{{ professor.name }}</a></h5>
            <p>Education : {{ professor.education }}</p>
            <p>Department : {{ professor.department }}</p>
            <p>Email : {{ professor.email }}</p>
            <div
        {% endfor %}
    </div>
  </div>
</main>
{% endblock content %}