{% extends 'reviews/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row container-fluid content-section">
    <div class="col-md-2">
        <img src="{{ object.image.url }}" class="card-img">
    </div>
    <div class="col md-10">
        <h5 class="mr-3">{{ object.name }} ({{ object.position }})</h5>
        <p>Education : {{ object.education }}</p>
        <p>Department : {{ object.department }}</p>
        <p>Courses Taught :
            {% for course in object.course_set.all %}
            <a href="{% url 'course-detail' course.id %}">{{course.code}},</a>
            {% endfor %}
        </p>
        <p>{{ object.description }}</p>
        <p>Email : {{ object.email }}, Contact : {{ object.contact }}</p>
    </div>
    <div><button class="btn btn-warning"><h3>Rating : <span class="badge badge-secondary">{{ object.overall_rating }}</span></h3></button></div>
</div>
<div class="border-top pt-1 content-section">
    <legend class="border-bottom mb-3">Reviews</legend>
    {% if user.is_authenticated %}
        <a class="btn btn-outline-info" href="{% url 'add-review' object.id %}">Add Review</a>
    {% else %}
        <p><a href="{% url 'login' %}">Login Here!</a> to leave a review</p>
    {% endif %}
    {% for review in object.reviews.all %}
    <div class="border-top pt-3 review">
        <div class="content-section">
            <div class="media">
                {% if review.anonymous %}
                <div class="media-body">
                    <div class="date">{{ review.datetime }}</div>
                    <strong>Anonymous Rated {{review.rating }}/10</strong>
                    {% else %}
                    <img class="rounded-circle account-img" src="{{ review.author.profile.image.url }}">
                    <div class="media-body">
                        <div class="date">{{ review.datetime }}</div>
                        <strong>{{ review.author }} Rated {{ review.rating }}/10</strong>
                        {% endif %}
                        <p>{{ review.body }}</p>
                    </div>
                    {% if review.author == user %}
                    <div>
                        <a href="{% url 'delete-review' pk=review.pk %}" class="btn btn-danger btn-sm">Delete</a>
                        <a href="{% url 'update-review' pk=review.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated and not review.author == user %}
                    <div>
                        <form action="{% url 'report' %}" method="POST">
                            {% csrf_token %}
                            <a href="#" class="btn btn-secondary btn-sm">{{ review.total_reports }} Report{{ review.total_reports|pluralize }}</a>
                            <button type="submit" name="review_id" value="{{ review.id }}" class="btn btn-danger btn-sm">Report</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add-review' object.id %} method="POST" class="review-form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
